@model Blog.Models.Post

<h2>Usuwanie postu</h2>
<div class="btn-danger center-block">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>