@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container about" id="about">
    <div class="row">
        <div class="col">
            <img src="img/user2.jpg" class="profile-img">
        </div>
        <div class="col">
            <h3>Kim jestem?</h3>
            <p>
                Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
            </p>
        </div>

        <div class="skills-bar">
            <p>Programowanie w języku C#</p>
            <div class="progress">
                <div class="progress-bar" style="width: 80%;">80%</div>
            </div>
        </div>

        <div class="skills-bar">
            <p>ASP.NET Core</p>
            <div class="progress">
                <div class="progress-bar" style="width: 70%;">70%</div>
            </div>
        </div>

        <div class="skills-bar">
            <p>Bazy danych</p>
            <div class="progress">
                <div class="progress-bar" style="width: 60%;">60%</div>
            </div>

            <div class="skills-bar">
                <p>Technologie frontend</p>
                <div class="progress">
                    <div class="progress-bar" style="width: 50%;">50%</div>
                </div>
            </div>


        </div>
        <div>
        </div>
    </div>
</div>
